.paid {
  color: green !important;
  font-weight: bold;  
}
.expired {
  color: Red !important;
  font-weight: bold;
}
.about-expired {
  color: orange !important;
  font-weight: bold; 
}
.not-expired {
  color: black !important;
  font-weight: normal;
}
.blink_me {
  animation: blinker 1s linear infinite;
  color: red;
}

.site-branding__logo img {
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
}
select#edit-field-payment-status-value {
    margin-top: 2px;
    height: 26px;
    border: 1px solid #ccc;
    margin-left: 0px;
}